<!DOCTYPE html>
<!--Jinja Macro-->
{% macro help_icon(link, title="Help") -%} 
  <span title="{{ title }}"><a href="{{ link }}" target="_blank">⍰</a></span>
{%- endmacro %}
<!-- Assign the title, subtitle, and links variables -->
{% set title = "Hledger" %}
{% set subtitle = "View your financial data and manage your ledger." %}
{% set links = [
    {"href": "/move-data", "text": "Data Management"},
    {"href": "/logout", "text": "Logout"}
] %}

<html>
<head>
  <title>Hledger {{title}}</title>
  <link rel="stylesheet" href="/static/css/main.css?v=2">
  <link rel="icon" type="image/png" href="/static/favicon.ico">
</head>
<body data-page="dashboard">
  {% include '/components/header.html' %}

  <main>
    {% include '/components/leftbar.html' %}
    {% include '/components/main-view.html' %}

  </main>

  {% include '/components/footer.html' %}
  <script src="/static/js/vendor/chart.umd.min.js"></script>
  <script src="/static/js/journal-table.js?v=1"></script>
  <script src="/static/js/app.js?v=4"></script>
</body>
</html>
