<section id = "accounts-section">
      <button id="journal-toggle" class="dark" >Select Journals</button>
      <div><select id="journal-select" class ="list-select" multiple style="display: none;"></select></div>
        <!-- options populated by JS -->
      </select>
      <div class="accounts-header">
        <h2>Balances</h2>
        <div id="included-journals"></div>
      </div>
      <div id="accounts"></div>
      <a href="#top">△Top of Page△</a>
      <!--Link to scroll to the bottom-->
       <a href="#bottom">▽End of Page▽</a>
    </section>